@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Jokes Application!</h1>
    <h6>The foremost authority for good humor that you will find anywhere on your local host.</a></h6>
    <p>Created by Rohit ;)</p>
</div>
